.game-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.game-action{
	display: flex;
	align-items: center;
	gap: 10px;
}
.game-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	gap: 16px;
}
.game-header-left {
	display: flex;
	align-items: center;
	gap: 10px;
}
.game-header-right {
	display: flex;
	align-items: center;
	gap: 10px;
}
.game-modal-content{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.game-flex{
	display: flex;
	align-items: center;
}